<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%extends "base.html" %}
    {% block content %}
    <h3>All feedbacks</h3>
    <table class="table  table-bordered table-striped"></table>
        <thead>
            <tr>
                <th> id</th>
                <th>name</th>
                 <th>mail</th>
                <th>submitted At</th>
            </tr>
        </thead>
        <tbody>
            {% for feedback in feedbacks %}
            <tr>
                <td>{{ feedback.id }}</td>
                <td>{{ feedback.name }}</td>
                <td>{{ feedback.mail }}</td>
                <td>{{ feedback.submitted At}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}
</body>
</html>